<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragments :: head(~{::title})">
    <title>照片管理</title>
</head>

<body>

<!--头部导航-->
<nav th:replace="admin/_fragments :: menu(4)">

</nav>

<div class="m-padded-tb-hugex">
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/pictures/input}" class="item">新增</a>
                <a href="#" th:href="@{/admin/pictures}" class="teal active item">列表</a>
            </div>
        </div>
    </div>
</div>


<!--中间内容-->
<div class="m-padded-tb-big">
    <div class="ui container">
        <!--消息提示-->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="" th:text="|提示： ${message}">提示：恭喜，操作成功！</div>
        </div>
        <table class="ui compact teal table">
            <thead>
            <tr align="center">
                <th>ID</th>
                <th>图片名称</th>
                <th>图片</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center" th:each="pictures,iterStat : ${pageInfo.list}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${pictures.picturename}">东西冲徒步</td>
                <td  >
                    <a href="../../static/images/mzqly.jpg" th:href="@{'/'+${pictures.imagePath}}">
                        <img class="picture-zmki_admin " src="../../static/images/mzqly.jpg"
                             th:src="@{'/'+${pictures.imagePath}}" style="width: 70px;;height: 70px;">
                    </a>
                </td>
                <td th:text="${#dates.format(pictures.picturetime,'yyyy-MM-dd')}">2019年12月31日 </td>
                <td>
                    <a href="#" th:href="@{/admin/pictures/{id}/input(id=${pictures.id})}"
                       class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/admin/pictures/{id}/delete(id=${pictures.id})}"
                       onclick="return confirm('确定要删除该照片吗？三思啊! 删了可就没了！')" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui mini pagination menu"  >
                        <div class="item"><a th:href="@{/admin/pictures}">首页</a></div>
                        <div class="item"><a th:href="@{/admin/pictures(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a></div>
                        <div class="item"><a th:href="@{/admin/pictures(pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></div>
                        <div class="item"><a th:href="@{/admin/pictures(pagenum=${pageInfo.pages})}">尾页</a></div>
                    </div>
                    <a href="#" th:href="@{/admin/pictures/input}" class="ui mini right floated teal basic button">新增</a>
                    <a href="#" th:href="@{/admin/pictures/inputAll}" class="ui mini right floated teal basic button">批量添加</a>
                </th>
            </tr>
            </tfoot>

        </table>
    </div>
</div>

<br>
<br>

<br>
<br>
<!--底部footer-->
<footer th:replace="admin/_fragments :: footer">

</footer>

<th:block th:replace="admin/_fragments :: script">

</th:block>

<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

</script>
</body>
</html>