<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head  th:replace="_fragments :: head(~{::title})">
    <title>音乐盒</title>
    <link rel="shortcut icon" href="../static/images/qly.ico" type="image/x-icon" />
</head>

<body class="picture-bg">

<!--头部导航-->
<nav th:replace="_fragments :: menu(7)" ></nav>



<br>
<br>
<!--顶部图片-->
<!--<div class="m-bg-type_outer" style="width: 100%;height: 40%">-->
<!--    <img src="../static/images/music.jpg" th:src="@{/images/music.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">-->
<!--    <div class="m-bg-class_cover">-->
<!--        <div class="ui container" style="position: relative ;bottom: -540px;">-->
<!--            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">音乐盒</div>-->
<!--            <div class="m-font-size-text-init-title m-margin-top" align="center">是啊，我也喜欢温柔，温暖，以及寻找着相互吸引的东西。努力活下去的心，很喜欢</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="ui m-margin- m-opacity" align="center">-->
<!--    <div class="ui container box-shadow-max">-->
<!--        <div id="player2"></div>-->
<!--    </div>-->
<!--</div>-->

<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

</footer>

<!--导入的script-->
<th:block th:replace="_fragments :: script">

</th:block>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();

</script>
</body>
</html>