<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head  th:replace="_fragments :: head(~{::title})">
    <title>音乐盒</title>
    <link rel="shortcut icon" href="../static/images/qly.ico" type="image/x-icon" />
</head>

<body class="picture-bg">

<!--头部导航-->
<nav th:replace="_fragments :: menu(7)" ></nav>



<br>
<br>

<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

</footer>

<!--导入的script-->
<th:block th:replace="_fragments :: script">

</th:block>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();

</script>
</body>
</html>